.router{
    margin-top: 57px !important;
    position: relative;
}

app-product{
    position: relative;
    width: 100%;
}

.mock-div{
    height: 57px;
    width: 100%;
}

app-nav-menu{
    position: fixed;
    width: 100%;
    z-index: 10;
}