.customer-root{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.customer-container{
    width: 40%;
}

.customer-detail-item{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.customer-detail-title{
    text-align: center;
    margin: 16px;
}

.cart-root{
    text-align: center;
}

.cart-items-container{
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}

.cart-item{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.cart-item-image{
    height: 100px;
    width: 100px;
    object-fit: scale-down;
}

.cart-item-type{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.cart-item-details{
    margin-left: 8px;
    display: flex;
    flex-flow: column nowrap;
    align-items: baseline;
}

.cart-item-name{
    font-size: 20px;
}

.order-button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
}

.upload-balance {
    justify-content: center;
    display: grid;
}

.upload-balance-btn {
    margin-top: 10px;
}

.new-balance {
    justify-content: center;
    text-align: center;
}