<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">WebShop</a>
      <div *ngIf="(loginService.customer$ | async) as loggedInCustomer">
        <p>Hello {{ loggedInCustomer.email }}</p>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li 
          class="nav-item" 
          [routerLinkActive]="['link-active']"
          [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/products']"
              >Termékek</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/uploadProduct']"
              >Termék feltöltése</a
            >
          </li>
          <li class="nav-item dropdown" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark cart dropbtn" [routerLink]="['/cart']"
              >Kosár</a
            >
            <ul *ngIf="cartItems.length !== 0" class="list-group dropdown-content">
              <li class="list-group-item noselect" *ngFor="let cartItem of cartItems">
                <app-cart-item [cartItem]="cartItem"></app-cart-item>
              </li>
            </ul>
            <ul *ngIf="cartItems.length === 0" class="list-group dropdown-content">
              <li class="list-group-item noselect">Üres kosár</li>
            </ul>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <button class="btn btn-primary login-button" [routerLink]="['/login']" type="button" *ngIf="!(loginService.customer$ | async)">Bejelentkezés</button>
            <button class="btn btn-primary login-button" (click)="logout()" [routerLink]="['/']" type="button" *ngIf="(loginService.customer$ | async)">Kijelentkezés</button>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <button class="btn btn-primary login-button" [routerLink]="['/registration']" type="button" *ngIf="!(loginService.customer$ | async)">Regisztráció</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
