<div class="cart-root">
  <h1>A kosár tartalma</h1>
  <ul class="list-group cart-items-container" *ngIf="cart.length !== 0">
    <li class="list-group-item cart-item" *ngFor="let cartItem of cart">
      <div class="cart-item-type">
        <img class="cart-item-image" [src]="cartItem.product.image | image">
        <div class="cart-item-details">
          <div class="cart-item-name">
            {{cartItem.product.name}}
          </div>
          <div class="cart-item-count">
            Darabszám: {{cartItem.quantity}}
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary" (click)="deleteItemFromCart(cartItem)">Törlés</button>
    </li>
  </ul>
  <h2 *ngIf="cart.length === 0">
    A kosár tartalama üres
  </h2>
  <h2 *ngIf="cart.length !== 0 && !(customer$ | async)">
    A rendeléshez jelentkezzen be
  </h2>
  <button *ngIf="cart.length !== 0 && (customer$ | async)" type="button" class="btn btn-primary order-button" (click)="orderProducts()">Rendelés</button>
</div>