<div class="container">
  <div class="py-5 text-center disable-padding" *ngIf="!loginService.customer$?.value">
    <h2>Regisztráció</h2>
    <p class="lead">Üdvözlünk új felhasználó!</p>
  </div>
  <div class="py-5 text-center disable-padding" *ngIf="loginService.customer$?.value">
    <h2>Profil szerkesztése</h2>
  </div>

  <div class="row">
    </div>
    <div class="col-md-8 order-md-1 center-aligned">
      <form class="needs-validation" #f="ngForm" (ngSubmit)="submit(f)">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="lastName">Vezetéknév</label>
            <input type="text" 
            class="form-control" 
            id="lastName" 
            placeholder="Vezetéknév" 
            [ngModel] = "lname"
            #lastName="ngModel"
            name="lastName"
            required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        <div class="col-md-6 mb-3">
          <label for="firstName">Keresztnév</label>
          <input 
          type="text" 
          class="form-control" 
          id="firstName" 
          placeholder="Keresztnév"
          [ngModel] = "fname"
          #firstName="ngModel"
          name="firstName"
          required>
          <div class="invalid-feedback">
            Valid first name is required.
          </div>
        </div>
      </div>
        <div class="mb-3" *ngIf="!loginService.customer$?.value">
          <label for="email">Email</label>
          <input type="email" 
          class="form-control" 
          id="email" 
          placeholder="you@example.com" 
          ngModel
          #email="ngModel"
          name="email"
          required>
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>

        <div class="mb-3" *ngIf="!loginService.customer$?.value">
          <label for="email">Jelszó</label>
          <input type="password" 
          class="form-control" 
          id="password" 
          placeholder="Jelszó"
          ngModel
          #password="ngModel"
          name="password"
          required>
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Telefon</label>
          <input type="text" 
          class="form-control" 
          id="phone" 
          placeholder="XX-XX-XXX-XXXX" 
          [ngModel] = "tel"
          #phone="ngModel"
          name="phone"
          required>
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Város</label>
          <input type="text" 
          class="form-control" 
          id="city" 
          placeholder="Város" 
          [ngModel] = "cit"
          #city="ngModel"
          name="city"
          required>
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Utca</label>
          <input type="text" 
          class="form-control" 
          id="street" 
          placeholder="Utca" 
          [ngModel] = "str"
          #street="ngModel"
          name="street"
          required>
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Házszám</label>
          <input type="text" 
          class="form-control" 
          id="houseNumber" 
          placeholder="Házszám" 
          [ngModel] = "hnum"
          #houseNumber="ngModel"
          name="houseNumber"
          required>
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" *ngIf="!loginService.customer$?.value">Regisztráció</button>
        <button class="btn btn-lg btn-primary btn-block" type="submit" *ngIf="loginService.customer$?.value">Frissítés</button>
      </form>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017-2019 WebShop</p>
  </footer>
