.single-product-root{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.single-product-container{
    margin-left: auto;
    margin-right: auto;
}

.single-product-image{
    height: 450px;
    width: 450px;
    object-fit: scale-down;
}

.card-buy{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.product-number {
    margin-left: 4px;
    height: 25px;
    width: 40px;
}

.product-number-label{
    margin-bottom: 0px;
}

.comment-container{
    margin-top: 32px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.comment-write-container{
    width: 100%;
    height: 100px;
}

.comment-write-textarea{
    width: 100%;
    height: 100%;
}

textarea {
    resize: none;
}

.single-product-details-container{
    display: flex;
    flex-flow: column nowrap;
}

.single-product-details{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.card-delete-button{
    margin-top: 10px;
}