<div class="single-product-root">
  <div class="single-product-container" *ngIf="(product$ | async) as product">
    <img [src]="product.image | image" class="single-product-image" alt="...">
    <div>
      <h5>{{product.name}}</h5>
      <p>Ár: {{product.price}} Ft</p>
    </div>
    <div class="card-buy">
      <button type="button" (click)="addToCart()" class="btn btn-primary product-button">Kosárba</button>
      <div>
        <label class="product-number-label" for="productNumber">Darabszám:</label>
        <input [(ngModel)]="counter" type="number" min="0" step="1" class="product-number" id="productNumber" max="99">
      </div>
    </div>
  </div>
  <div class="comment-container">
    <app-comment *ngIf="customerComment.customer" (reload)="reload()" [product]="product" [comment]="customerComment" [isNewComment]="true"></app-comment>
    <ng-container *ngIf="comments">
      <app-comment [comment]="comment" [isNewComment]="false" *ngFor="let comment of comments"></app-comment>
    </ng-container>
  </div>
</div>
